:root
{
	--primary-blue: #061F3F;
}

html, body
{
	margin: 0;
	padding: 0;
}


/********** Header **********/


#header
{
	background-color: var( --primary-blue );
	padding: 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}


/********** Title section **********/


#title-section
{
	margin: 1rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

#back-btn
{
	background-color: var( --primary-blue );
	margin-right: 1rem;
	height: 40px;
	width: 40px;
	border-radius: 5px;
}

#topic
{
	color: var( --primary-blue );
	font-family: Arial, Helvetica, sans-serif;
}


/********** Main section **********/


#main
{
	padding-left: 5rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

#client-section
{
	margin-right: 2rem;
	background-color: grey;
	height: 720px;
	width: 1280px;
}

#user-section
{
	height: 720px;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}

#user-notes-div
{
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

#user-notes-label
{
	font-weight: bold;
}

#user-notes
{
	background-color: lightgrey;
	width: 100%;
	resize: none;
}


/********** Main section **********/


#toolbar-section
{
	background-color: lightgrey;
	height: 90px;
	margin: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#toolbar
{
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.tool-btn
{
	margin: 1rem;
}

#speak-btn
{
	background-color: lightgrey;
	border: none;
}

#unmuted-icon
{
	display: none;
}

#audio
{
	width: 70%;
}

#end-btn
{
	background-color: grey;
	height: 100%;
	padding: 1rem 2rem 1rem 2rem;
	font-size: 2rem;
	font-weight: bold;
	border: none;
}

